PaperOnSmoothing/draft-31052016.log
*.blg
PaperOnSmoothing/draft-31052016.log
PaperOnSmoothing/draft-31052016.synctex.gz
PaperOnSmoothing/draft-31052016.log
PaperOnSmoothing/draft-31052016.synctex.gz
PaperOnSmoothing/draft-31052016.aux